@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient {
  background: linear-gradient(
    138deg,
    rgb(32, 201, 255) 36.7%,
    rgb(0, 8, 187) 84.4%,
    rgb(255, 255, 255) 119.7%
  );
}

.highlight-card {
  border: 2px solid yellow; /* Example highlight style */
}

.bg-image {
  background-image: url("mediaa/home.jpeg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  /* Other background properties can be added here */
}
